/* line 6, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/_reset.sass */
ul, ol {
  list-style: none; }

/* line 8, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/_reset.sass */
h1, h2, h3, h4, h5, h6, pre, code {
  font-size: 1em; }

/* line 10, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/_reset.sass */
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd, figure, figcaption {
  margin: 0;
  padding: 0; }

/* line 13, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/_reset.sass */
a img, :link img, :visited img, fieldset {
  border: none; }

/* line 15, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/_reset.sass */
address {
  font-style: normal; }

/* line 17, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/_reset.sass */
header, section, article, nav, footer, hgroup, details, summary, figure, main {
  display: block; }

/* line 19, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/_reset.sass */
mark {
  color: inherit;
  background: transparent; }

/* line 22, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/_reset.sass */
abbr {
  border: none; }

/* line 24, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/_reset.sass */
summary::-webkit-details-marker {
  display: none; }

/* line 24, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
.wdz-modal article {
  width: 500px;
  height: 500px;
  margin-left: -250px;
  color: #47b667;
  text-align: center; }
  /* line 30, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  .wdz-modal article h1 {
    margin: 220px 0 20px 0;
    font-size: 60px; }
  /* line 33, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  .wdz-modal article p {
    font-size: 20px; }
@media screen and (max-width: 480px) {
  /* line 36, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  .wdz-modal article {
    width: 300px;
    height: 300px;
    margin-left: -150px; }
    /* line 40, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
    .wdz-modal article h1 {
      margin-top: 130px; } }

/* line 43, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
body {
  background: #47b667;
  font-family: Cabin, sans-serif;
  color: white;
  font-size: 18px;
  line-height: 160%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; }
  @media screen and (max-width: 480px) {
    /* line 43, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
    body {
      font-size: 16px; } }

/* line 54, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
header {
  text-align: center;
  padding: 60px 0; }
  /* line 57, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  header h1, header h2 {
    font-size: 100px;
    font-weight: normal;
    line-height: 100%; }
  /* line 61, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  header h2 {
    font-size: 20px;
    letter-spacing: 4px;
    text-transform: uppercase; }
  @media screen and (max-width: 480px) {
    /* line 54, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
    header {
      padding: 20px 0; }
      /* line 67, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
      header h1 {
        font-size: 70px; } }

/* line 70, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
.wrapper {
  max-width: 800px;
  padding: 40px 40px 20px 40px;
  margin: 0 auto; }
  @media screen and (max-width: 480px) {
    /* line 70, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
    .wrapper {
      padding: 30px 10px 10px 10px; } }

/* line 77, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
a {
  color: white; }

/* line 81, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
main h1 {
  font-size: 30px;
  text-align: center;
  font-weight: normal; }
  @media screen and (max-width: 480px) {
    /* line 81, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
    main h1 {
      font-size: 22px; } }
/* line 87, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
main h1, main h2, main p, main pre {
  margin: 0 0 40px 0; }
  @media screen and (max-width: 480px) {
    /* line 87, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
    main h1, main h2, main p, main pre {
      margin: 0 0 20px 0; } }
/* line 91, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
main pre {
  color: white;
  background: #399152;
  padding: 20px 40px;
  font-size: 95%;
  overflow-x: auto; }
  /* line 97, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  main pre code {
    margin: 0; }
  @media screen and (max-width: 480px) {
    /* line 91, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
    main pre {
      padding: 10px; } }
/* line 102, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
main p code {
  background: #40a45d;
  padding: 2px 5px;
  font-size: 95%;
  margin: 0 3px; }
/* line 107, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
main a[data-wdz-animation] {
  position: relative;
  background: #52cd76;
  padding: 10px 30px;
  margin: 0 auto;
  display: block;
  max-width: 150px;
  text-align: center;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s;
  font-size: 22px; }
  /* line 15, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  main a[data-wdz-animation]:hover {
    background: #56d97c; }
  @media screen and (max-width: 480px) {
    /* line 107, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
    main a[data-wdz-animation] {
      padding: 10px;
      font-size: 20px; } }
  /* line 109, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  main a[data-wdz-animation]:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    -webkit-transition: border-color 0.2s;
    height: 0;
    width: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 8px;
    border-top-color: #52cd76; }
  /* line 118, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  main a[data-wdz-animation]:hover:after {
    border-top-color: #56d97c; }

/* line 121, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
footer {
  background: #40a45d;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  padding: 0 0 40px 0; }
  /* line 127, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  footer a {
    color: white; }

/* line 130, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
.examples {
  background: #40a45d; }
  /* line 132, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  .examples pre {
    margin-top: -20px;
    position: relative; }
    @media screen and (max-width: 480px) {
      /* line 132, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
      .examples pre {
        margin-top: -10px; } }

/* line 138, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
.download {
  background: #43ab61;
  text-align: center;
  padding-bottom: 20px; }
  /* line 142, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  .download p {
    margin: 0 0 10px 0; }
  /* line 144, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  .download a {
    position: relative;
    background: #52cd76;
    padding: 10px 30px;
    margin: 0 auto;
    display: block;
    max-width: 150px;
    text-align: center;
    text-decoration: none;
    color: white;
    -webkit-transition: background-color 0.2s;
    font-size: 22px;
    display: inline-block;
    margin: 0 10px; }
    /* line 15, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
    .download a:hover {
      background: #56d97c; }
    @media screen and (max-width: 480px) {
      /* line 144, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
      .download a {
        padding: 10px;
        font-size: 20px; } }

/* line 149, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
.highlight {
  color: rgba(255, 255, 255, 0.7); }
  /* line 151, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  .highlight .s, .highlight .s1, .highlight .nl {
    color: white; }
  /* line 153, /Users/camerondaigle/hashrocket/windoze/source/stylesheets/application.css.sass */
  .highlight .c1 {
    color: rgba(255, 255, 255, 0.4);
    font-style: italic; }
