=border-radius($r)
  -webkit-border-radius: $r
  -moz-border-radius: $r
  border-radius: $r

=border-top-right-radius($r)
  -webkit-border-top-right-radius: $r
  -moz-border-radius-topright: $r
  border-top-right-radius: $r

=border-top-left-radius($r)
  -webkit-border-top-left-radius: $r
  -moz-border-radius-topleft: $r
  border-top-left-radius: $r

=border-bottom-right-radius($r)
  -webkit-border-bottom-right-radius: $r
  -moz-border-radius-bottomright: $r
  border-bottom-right-radius: $r

=border-bottom-left-radius($r)
  -webkit-border-bottom-left-radius: $r
  -moz-border-radius-bottomleft: $r
  border-bottom-left-radius: $r

=box-shadow($x)
  -webkit-box-shadow: $x
  -moz-box-shadow: $x
  box-shadow: $x

=opacity($o)
  opacity: $o
  filter: alpha(opacity=$o*100)

=columns($n, $gap)
  -moz-column-count: $n
  -moz-column-gap: $gap
  -webkit-column-count: $n
  -webkit-column-gap: $gap
  column-count: $n
  column-gap: $gap

=gradient-bg($color1, $color2)
  background-color: $color1
  background-image: -moz-linear-gradient(100% 100% 90deg, $color2, $color1)
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color1), to($color2))
