---
layout: default
---

%a.trigger(href='#' data-wdz-animation='pop-down') Pop down
%a.trigger(href='#' data-wdz-animation='slide-left') Slide left

.wdz-overlay
/ .wdz-modal.one
/   %a(href='#') Trigger modal 2
/ .wdz-modal.two
/   %a(href='#') Trigger modal 1