---
layout: test
---

.fixtures
  .link_trigger
    %a(href='#') This will trigger the modal specified in the function call (defaults to #modal)
  .delegated_trigger
    %a.one(href='#') This is to test trigger delegation
    %a.two.trigger(href='#') This is to test trigger delegation
  .init_on_self
    .wdz-modal This modal will be initialized directly.
  .remote_load
    %a(href='/test/modal') This will load a remote file.
  .remote_image
    %a(href='/images/test.jpg') This will load a remote image.
  .relocate_modal
    %a(href='#' data-wdz-container='#relocate_me')
    .wdz-modal#relocate_me
      %h1 I should be relocated to the end of the body on initialization.