---
layout: test
---

.fixtures
  .link_trigger
    %a(href='#') This will trigger the modal specified in the function call (defaults to #modal)
  .delegated_trigger
    %a.one(href='#') This is to test trigger delegation
    %a.two.trigger(href='#') This is to test trigger delegation
